@import url(grid.min.css);
@import url(semantic/semantic.min.css);
@import url(daterangepicker.css);
@import url(menu.css);
/* Color palette */
/* Text styles */
.breadcr {
  font-family: FuturaPT-Book;
  font-size: 14px;
  color: #838a98; }

.cta-button {
  font-family: FuturaPT-Book;
  font-size: 14px;
  color: #555555; }

.lg-detailed {
  font-family: FuturaPT-Book;
  font-size: 14px;
  color: #9a9a9a; }

.profile-text {
  font-family: FuturaPT-Book;
  font-size: 14px;
  color: #838a98; }

.h1 {
  font-family: FuturaPT-Heavy;
  font-size: 12px;
  color: #555555; }

.name {
  font-family: Futura-Medium;
  font-size: 12px;
  color: #555555; }

.label-statistics {
  font-family: FuturaPT-Book;
  font-size: 10px;
  color: #5e90f2; }

.breadcr {
  font-family: FuturaPT-Book;
  font-size: 10px;
  color: #7d7d7d; }

.profile-label {
  font-family: FuturaPT-Book;
  font-size: 9.9px;
  color: #ffffff; }

html body .logo {
  width: 200px;
  margin-bottom: 20px; }

html body .language_bar_chooser {
  background-color: #d0d0d0;
  border-radius: 100px;
  padding: 3px 8px 3px 15px;
  display: inline-block; }

html body .field .has_error {
  color: red; }

html body .field label {
  font-size: 1.1em !important; }

html body table.rate thead,
html body table.rate tr,
html body table.rate td {
  text-align: center; }

html body table.rate td,
html body table.rate th {
  padding: 0px 5px 18px; }

html body table.rate td.number {
  max-width: 70px; }

html body table.rate td.title {
  font-weight: bold; }

html body table.rate td.interest {
  padding: 2px; }

.immigration .preferences {
  padding: 0 20px;
  text-align: center; }
  .immigration .preferences .field .table {
    max-width: 900px;
    margin: 0 auto; }

.immigration .button.huge {
  margin-bottom: 30px; }

.immigration .ui.green {
  border-top: 2px solid #21BA45;
  margin: 25px auto !important;
  display: block !important; }

.center-text {
  text-align: center; }

.center {
  text-align: center !important;
  margin: 20px auto !important;
  display: block !important; }

.margin-field {
  margin: 30px 0 1em !important; }

.full-width {
  width: 100% !important;
  border-bottom: 4px solid !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin-top: 3em !important; }
  .full-width .header,
  .full-width .meta {
    text-align: center; }

.no-border {
  border: none !important; }

.no-margin {
  margin: 0 !important; }

.big-header {
  font-weight: 400 !important;
  font-size: 2.0571429em !important; }

.container {
  margin-top: 60px; }

#dashboard .card, #listview .card {
  min-width: 25%; }

#dashboard .ui.horizontal.segments, #listview .ui.horizontal.segments {
  margin: 0rem 0;
  border-radius: 0.2em 0.2em 0em 0em; }

#dashboard .ui.horizontal.segments > .segment, #listview .ui.horizontal.segments > .segment {
  border-left: 0px solid rgba(34, 36, 38, 0.15); }

#dashboard .ui.cards > .card > .content, #listview .ui.cards > .card > .content {
  padding: 0em; }

#dashboard .paddingcols, #listview .paddingcols {
  padding: 1em 1em 1em 1em; }

#dashboard .ui.attached.buttons, #listview .ui.attached.buttons {
  margin-left: 1px;
  margin-right: 1px;
  box-shadow: 0 0 0 1px #d4d4d5 !important; }

#dashboard .ui.segments, #listview .ui.segments {
  border: 1px solid #d4d4d5 !important; }

#dashboard .ui.statistics > .statistic:nth-of-type(2),
#dashboard .ui.statistics > .statistic:nth-of-type(3),
#dashboard .ui.statistics > .statistic:nth-of-type(4), #listview .ui.statistics > .statistic:nth-of-type(2),
#listview .ui.statistics > .statistic:nth-of-type(3),
#listview .ui.statistics > .statistic:nth-of-type(4) {
  border-left: 1px solid #dedede;
  padding-left: 4%;
  padding-right: 1%; }

#dashboard .ui.statistics > .statistic, #listview .ui.statistics > .statistic {
  margin: 0 0.5em 1em; }

#dashboard div.ui.statistics.center, #listview div.ui.statistics.center {
  padding-top: 3em; }

#dashboard .ui.statistics .statistic > .value ~ .label, #listview .ui.statistics .statistic > .value ~ .label {
  color: #5e90f2; }

#dashboard .ui.statistics .statistic > .value, #listview .ui.statistics .statistic > .value {
  font-size: 3vw;
  color: #838a98; }

#dashboard .ui.statistics, #listview .ui.statistics {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.matchbtn {
  background: #75c980 !important;
  color: #ffffff !important; }

.matchbtn:hover {
  background: #5fc06c !important;
  color: #ffffff !important; }

.matchbtn:focus {
  background: #5fc06c !important;
  color: #ffffff !important; }

.circle-base {
  border-radius: 50%;
  behavior: url(PIE.htc); }

.circle-front {
  width: 23px;
  height: 23px;
  background-color: #2e5033;
  opacity: 0.19;
  border: 0px solid rgba(0, 0, 0, 0.6);
  line-height: 23px;
  text-align: center;
  float: right; }

#matchview .ui.fluid.input {
  padding-top: 0.5em !important; }

#matchview .ui.card {
  width: 40em; }

#matchview .ui.feed {
  margin: 0; }

#matchview .age {
  width: 48%;
  float: left; }

#matchview .work {
  width: 48%;
  float: right; }

#matchview .interest {
  float: left;
  margin-right: 1%;
  text-transform: capitalize;
  color: white; }

#matchview .interest > input {
  text-align: center;
  background-color: #75c980 !important;
  color: #ffffff; }

.interest {
  background-color: #75c980 !important; }

#view .ui.form {
  position: relative;
  max-width: 564px; }

#view .btn-max-width {
  max-width: 590px !important; }

#view .ui.horizontal.segments {
  margin: 0rem 0;
  border-radius: 0.2em 0.2em 0.2em 0.2em; }

#view .ui.form textarea:not([rows]) {
  max-width: 560px; }

#view div.col-xs-12.col-sm-12.col-md-12 {
  padding-right: 0px !important; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.margin-top {
  margin-top: 1px !important; }

.margin-right {
  margin-right: 10px !important; }

input[disabled] {
  color: black !important;
  opacity: 1 !important; }

.grid.card-full {
  padding: 0 !important; }
  .grid.card-full .ui.card {
    width: 100% !important; }

.chart-range {
  background: #dedede;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 20em; }

@media (max-width: 414px) {
  .ui > .statistics > .statistic {
    margin-left: 2px !important;
    margin-right: 2px !important; } }

@media (max-width: 414px) {
  h2:first-child, .reportrange, .chart-range, #c {
    text-align: center; } }

@media (max-width: 414px) {
  h2:first-child {
    margin-bottom: 10px; } }

.dropdown-menu {
  display: none;
  border: 1px solid #dedede;
  box-shadow: 10px #dedede; }

.ranges > ul > li:hover {
  background: #dedede;
  color: #ffffff;
  border: 0; }

.ranges > ul > li:active {
  background: #dedede;
  color: rgba(0, 0, 0, 0.6) !important;
  border: 0; }

.ranges li.active {
  background: #75c980;
  color: rgba(0, 0, 0, 0.6) !important;
  border: 0; }

.ranges > ul > li {
  color: rgba(0, 0, 0, 0.6) !important;
  border: 0; }

@media (min-width: 564px) {
  .daterangepicker {
    width: 20em; } }

@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: 100%; } }

@media (min-width: 564px) {
  .daterangepicker .ranges ul {
    width: 95%; } }

.ranges {
  padding-right: 6px; }

.applyBtn {
  width: 49%;
  background: #dedede;
  color: rgba(0, 0, 0, 0.6) !important;
  border: 0;
  border-radius: 2px 2px 2px 2px; }

.cancelBtn {
  width: 49%;
  background: #dedede;
  color: rgba(0, 0, 0, 0.6) !important;
  border: 0;
  border-radius: 2px 2px 2px 2px; }

.applyBtn:active, .cancelBtn:active .applyBtn:hover, .cancelBtn:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff !important;
  border: 0; }

.ui.labeled.input:not([class*="corner labeled"]) .label:first-child {
  min-width: 6em;
  text-align: center; }

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 0; }

.slider {
  margin-top: 0px;
  outline: none !important;
  padding-bottom: 50px; }
  .slider .slider-card {
    outline: none !important;
    opacity: 0.6;
    transition: all 300ms ease;
    background-color: white;
    margin-top: 0;
    margin: 2px;
    padding: 0.5%; }
    .slider .slider-card .ui.grid.main {
      margin-top: 0;
      width: 100%;
      padding: 0; }
  .slider .slick-center {
    opacity: 1 !important;
    -webkit-transform: scale(1.08);
    transform: scale(1.08); }
    .slider .slick-center .slider-card {
      opacity: 1 !important; }
  .slider .slick-arrow:before {
    color: grey !important;
    font-size: 40px; }
  .slider .slick-prev {
    left: -35px; }
  .slider .slick-next {
    right: -35px; }

/*# sourceMappingURL=app.css.map */
