@import "semantic/semantic.min.css";
@import "daterangepicker.css";
html {
    body {
        table.rate {
            thead,
            tr,
            td {
                text-align: center;
            }
            td,
            th {
                padding: 0px 5px 18px;
            }
            td.number {
                max-width: 70px;
            }
            td.title {
                font-weight: bold;
            }
            td.interest {
                padding: 2px;
            }
        }
    }
}

.immigration {
    .preferences {
        background-color: #F9F9F9;
        padding: 20px;
        text-align: center;
        .field .table {
            max-width: 900px;
            margin: 0 auto;
        }
    }
    .button.huge {
        margin-bottom: 30px;
    }
    .ui.green {
        border-top: 2px solid #21BA45;
        margin: 25px auto !important;
        display: block !important;
    }
}

.center-text {
    text-align: center;
}

.margin-field {
    margin: 30px 0 1em !important;
}