@import "semantic/semantic.min.css";
p {}

html {
    body {
        table.rate {
            thead,
            tr,
            td {
                text-align: center;
            }
            td,
            th {
                padding: 0px 5px 18px;
            }
            td.title {
                font-weight: bold;
            }
            td.interest {
                padding: 2px;
            }
        }
    }
}

.immigration {
    .field {
        margin: 30px 0 1em !important;
    }
}

.center-text {
    text-align: center;
}