html {
  body {
    .logo {
      width: 200px;
      margin-bottom: 20px;
    }
    .language_bar_chooser {
      background-color: #d0d0d0;
      border-radius: 100px;
      padding: 3px 8px 3px 15px;
      display: inline-block;
    }

    .field {
      .has_error {
        color: red;
      }
      label {
        font-size: 1.1em !important;
      }
    }

    table.rate {
      thead,
      tr,
      td {
        text-align: center;
      }
      td,
      th {
        padding: 0px 5px 18px;
      }
      td.number {
        max-width: 70px;
      }
      td.title {
        font-weight: bold;
      }
      td.interest {
        padding: 2px;
      }
    }
  }
}


//Immigration form

.form-width{
  max-width: 500px!important;
  margin: 0 auto!important;
}

.immigration {
  .preferences {
    padding: 0 20px;
    text-align: center;
    .field .table {
      max-width: 900px;
      margin: 0 auto;
    }
  }
  .button.huge {
    margin-bottom: 30px;
  }
  .ui.green {
    border-top: 2px solid #21BA45;
    margin: 25px auto !important;
    display: block !important;
  }
}
  //Global center classes
.center-text {
  text-align: center;
}
.left-text {
  text-align: left;
}
.right-text {
  text-align: right;
}

.center {
  text-align: center !important;
  margin: 0px auto !important;
  display: block !important;
}
  //Global margin classes
.margin-field {
  margin: 30px 0 1em !important;
}

.margin-top-large { margin-top: 30px !important; }
.margin-bottom-large { margin-bottom: 30px !important; }

  //Global Full width class
.full-width {
  width: 100% !important;
  border-bottom: 4px solid !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin-top: 1em !important;
  padding-bottom: 1em !important;
    .header{
     font-size: large;
     font-weight: bold;
    }
    .meta{
      color:$black-60!important;

    }
}
  //Global no-border class
.no-border {
  border: none !important;
}
  //Global no-margin class
.no-margin {
  margin: 0 !important;
}
  //Global Container margin class
.container {
  margin-top: 60px;
}

  //Gloal Floats
.float-left {
  float:left;
}
.float-right {
  float:right;;
}
  //Global margins
.margin-top {
  margin-top: 1px !important;
}

.margin-right {
  margin-right: 10px !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}


  //index view h1's
.big-header {
  font-weight: 400 !important;
  font-size: 2.0571429em !important;
}

//Special formatting for admin_landing cards
#dashboard, #listview {

  .card {
    min-width: 25%;

  }

  .ui.horizontal.segments {
    margin: 0rem 0;
    border-radius: 0.2em 0.2em 0em 0em;
  }

  .ui.horizontal.segments > .segment {
    border-left: 0px solid rgba(34, 36, 38, .15);
  }
  .ui.cards > .card > .content {
    padding: 0em;
  }

  .paddingcols {
    padding: 1em 1em 1em 1em;
  }

  .ui.attached.buttons {
    margin-left: 1px;
    margin-right: 1px;
    box-shadow: 0 0 0 1px $silver !important;
  }

  .ui.segments {

    border: 1px solid $silver !important;
  }
  .ui.statistics > .statistic:nth-of-type(2),
  .ui.statistics > .statistic:nth-of-type(3),
  .ui.statistics > .statistic:nth-of-type(4) {
    border-left: 1px solid $lightsteel;
    padding-left: 4%;
    padding-right: 1%;
  }
  .ui.statistics>.statistic{
    margin: 0 0.5em 1em;
  }
  div.ui.statistics.center{
    padding-top: 3em;

  }
  .ui.statistics .statistic > .value ~ .label {
    color: $soft-blue;
  }
  .ui.statistics .statistic > .value {
    font-size: 3vw;
    color: $steel;
  }
  .ui.statistics {
    display: flex !important;
  }
}

//Match buttons
.matchbtn {
  background: $soft-green !important;
  color: $white !important;
}

.matchbtn:hover {
  background: darken($soft-green, 6) !important;
  color: $white !important;
}

.matchbtn:focus {
  background: darken($soft-green, 6) !important;
  color: $white !important;
}
//Match count circle base
.circle-base {
  border-radius: 50%;
  behavior: url(PIE.htc);
}
//Match count front
.circle-front {
  width: 23px;
  height: 23px;
  background-color: $pine;
  opacity: 0.19;
  border: 0px solid $black-60;
  line-height: 23px;
  text-align: center;
  //TODO: Must fix float/margins for circle
  float: right;

}

.label-top-right{
  color: $white!important;
  background-color: $pig-pink!important;
  font-weight: bold!important;
  border-radius: 0.2em!important;
}

//Match view
#matchview {

  .ui.fluid.input {
    padding-top: 0.5em !important;
  }
  .ui.card {
    width: 40em;
  }
  .ui.feed {
    margin: 0;
  }
  .age {
    width: 48%;
    float: left;
  }
  .work {
    width: 48%;
    float: right;
  }

  .interest {
    float: left;
    margin-right: 1%;
    text-transform: capitalize;
    color: white;
  }

  .pig-pink {
    background-color: $pig-pink;
    color: white;
  }

  .cap {
    text-transform: capitalize;
  }

  .interest > input {
    text-align: center;
    background-color: $soft-green !important;
    color: $white;
  }

}

//Interest's view style
.interest {
  background-color: $soft-green !important;
}

//detail veiw specific
#view {

  .ui.form {
    position: relative;
    max-width: 564px;
  }


  .btn-max-width {
    max-width: 590px!important;
  }
  .ui.horizontal.segments {
    margin: 0rem 0;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
  }

  .ui.form textarea:not([rows]) {
    max-width: 560px;}
  div.col-xs-12.col-sm-12.col-md-12{
    padding-right:0px!important;
  }


}
input[disabled] {
  color: black !important;
  opacity: 1 !important;
}


.grid.card-full {
  padding: 0 !important;
  .ui.card {
    width: 100% !important;
  }
}


//Statistics
.chart-range {
  background: $lightsteel;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  max-width: 20em;
}
  //statistic numbers


@media (max-width: 999px){
  .ui > .statistics > .statistic{
    margin-left: 2px!important;
    margin-right: 2px!important;
    display: block;
  }
}


@media (max-width: 999px){
  h2:first-child, .reportrange, .chart-range, #c{
    text-align: center;
    display: block;

  }
}

@media (max-width: 999px){
  h2:first-child{
   margin-bottom: 10px;
    display: block;
  }
}
.ui.form .field>.selection.dropdown {
  background-color: $aliceblue;

}

.ui.dropdown>.default.text {
  color:$black-60;
}

//date picker
.dropdown-menu{
  display:none;
  border: 1px solid $lightsteel;
  box-shadow: 10px $lightsteel;

}

.ranges>ul>li:hover {
  background: $lightsteel;
  color: $white;
  border:0;
}
.ranges>ul>li:active{
  background: $lightsteel;
  color: $black-60!important;
  border:0;
}
.ranges li.active{
  background: $soft-green;
  color: $black-60!important;
  border:0;
}
.ranges>ul>li{
  color: $black-60!important;
  border:0;
}
@media (min-width: 564px) {
  .daterangepicker {
    width: 20em;
  }
}
@media (min-width: 730px){
  .daterangepicker .ranges {
    width: 100%;
  }
}

@media (min-width: 564px){
  .daterangepicker .ranges ul {
    width: 95%;
  }
}
.ranges{
  padding-right: 6px;
}
      //Buttons
.applyBtn{
  width:49%;
  background: $lightsteel;
  color: $black-60!important;
  border:0;
  border-radius: 2px 2px 2px 2px;
}
.cancelBtn{
  width:49%;
  background: $lightsteel;
  color: $black-60!important;
  border:0;
  border-radius: 2px 2px 2px 2px;
}

.applyBtn:active, .cancelBtn:active .applyBtn:hover, .cancelBtn:hover{
  background: $black-60;
  color: $white!important;
  border:0;


}


//center text & min width on detailed view
.ui.labeled.input:not([class*="corner labeled"]) .label:first-child {
  min-width: 6em;
  text-align: center;
}



// TODO not used?
.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 0;
}

hr{
  opacity: 0.3;
  width: 50%;
}

.meet_pref {
  margin-top: 1% !important;
}

.flip-button {
  .active {
    background-color: $pig-pink !important;
    color: white !important;
  }
}

.cap {
  text-transform: capitalize !important;
}

.ui.segment{
  box-shadow: 0 0px 0px 0 rgba(34,36,38,.15);
  margin: 1em 0 2em 0;
  padding: 0em;
  border: 0px solid rgba(34,36,38,.15);
}
