html {
  body {
    .logo {
      width: 200px;
      margin-bottom: 20px;
    }
    .language_bar_chooser {
      background-color: #d0d0d0;
      border-radius: 100px;
      padding: 3px 8px 3px 15px;
      display: inline-block;
    }

    .field {
      label {
        font-size: 1.1em !important;
      }
    }

    table.rate {
      thead,
      tr,
      td {
        text-align: center;
      }
      td,
      th {
        padding: 0px 5px 18px;
      }
      td.number {
        max-width: 70px;
      }
      td.title {
        font-weight: bold;
      }
      td.interest {
        padding: 2px;
      }
    }
  }
}

.immigration {
  .preferences {
    padding: 0 20px;
    text-align: center;
    .field .table {
      max-width: 900px;
      margin: 0 auto;
    }
  }
  .button.huge {
    margin-bottom: 30px;
  }
  .ui.green {
    border-top: 2px solid #21BA45;
    margin: 25px auto !important;
    display: block !important;
  }
}

.center-text {
  text-align: center;
}

.center {
  text-align: center !important;
  margin: 20px auto !important;
  display: block !important;
}

.margin-field {
  margin: 30px 0 1em !important;
}

.full-width {
  width: 100% !important;
  border-bottom: 4px solid !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin-top: 3em !important;
  .header,
  .meta {
    text-align: center;
  }
}

.no-border {
  border: none !important;
}

.no-margin {
  margin: 0 !important;
}

.big-header {
  font-weight: 400 !important;
  font-size: 2.0571429em !important;
}

.container {
  margin-top: 60px;
}

//Special formatting for admin_landing cards
#dashboard, #listview {

  .card {
    min-width: 25%;

  }

  .ui.horizontal.segments {
    margin: 0rem 0;
    border-radius: 0.2em 0.2em 0em 0em;
  }

  .ui.horizontal.segments > .segment {
    border-left: 0px solid rgba(34, 36, 38, .15);
  }
  .ui.cards > .card > .content {
    padding: 0em;
  }

  .paddingcols {
    padding: 1em 1em 1em 1em;
  }

  .ui.attached.buttons {
    margin-left: 1px;
    margin-right: 1px;
    box-shadow: 0 0 0 1px $silver !important;
  }

  .ui.segments {

    border: 1px solid $silver !important;
  }
  .ui.statistics > .statistic:nth-of-type(2),
  .ui.statistics > .statistic:nth-of-type(3),
  .ui.statistics > .statistic:nth-of-type(4) {
    border-left: 1px solid $lightsteel;
    padding-left: 4%;
    padding-right: 1%;
  }

  .ui.statistics .statistic > .value ~ .label {
    color: $soft-blue;
  }
  .ui.statistics .statistic > .value {
    font-size: 3vw;
    color: $steel;
  }
  .ui.statistics {
    display: flex !important;
  }
}

// # buttons match
.matchbtn {
  background: $soft-green !important;
  color: $white !important;
}

.matchbtn:hover {
  background: darken($soft-green, 6) !important;
  color: $white !important;
}

.matchbtn:focus {
  background: darken($soft-green, 6) !important;
  color: $white !important;
}

.circle-base {
  border-radius: 50%;
  behavior: url(PIE.htc);
}

.circle-front {
  width: 23px;
  height: 23px;
  background-color: $pine;
  opacity: 0.19;
  border: 0px solid $black-60;
  line-height: 23px;
  text-align: center;
  //TODO: Must fix float/margins for circle
  float: right;

}

//Match view
#matchview {

  .ui.fluid.input {
    padding-top: 0.5em !important;
  }
  .ui.card {
    width: 40em;
  }
  .ui.feed {
    margin: 0;
  }
  .age {
    width: 48%;
    float: left;
  }
  .work {
    width: 48%;
    float: right;
  }
  .interest:nth-child(2) {
    float: left;
    width: 30%;
    margin-right: 5%;

  }
  .interest:first-child {
    float: left;
    width: 30%;
    margin-right: 5%;
  }

  .interest:last-child {
    float: left;
    width: 30%;
  }
  .interest > input {
    text-align: center;
    background-color: $soft-green !important;
    color: $white;

  }

}

//Interest's view style
.interest > .ui.label {
  background-color: darken($soft-green, 6) !important;
}

//detail veiw specific
#view {

  .ui.form {
    position: relative;
    max-width: 564px;
  }


  .btn-max-width {
    max-width: 590px!important;
  }
  .ui.horizontal.segments {
    margin: 0rem 0;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
  }

  .ui.form textarea:not([rows]) {
    max-width: 560px;}
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-right:0px!important;
  }


}

