html {
  body {
    .logo {
      width: 200px;
      margin-bottom: 20px;
    }
    .language_bar_chooser {
      background-color: #d0d0d0;
      border-radius: 100px;
      padding: 3px 8px 3px 15px;
      display: inline-block;
    }

    .field {
      .has_error {
        color: red;
      }
      label {
        font-size: 1.1em !important;
      }
    }

    table.rate {
      thead,
      tr,
      td {
        text-align: center;
      }
      td,
      th {
        padding: 0px 5px 18px;
      }
      td.number {
        max-width: 70px;
      }
      td.title {
        font-weight: bold;
      }
      td.interest {
        padding: 2px;
      }
    }
  }
}

.immigration {
  .preferences {
    padding: 0 20px;
    text-align: center;
    .field .table {
      max-width: 900px;
      margin: 0 auto;
    }
  }
  .button.huge {
    margin-bottom: 30px;
  }
  .ui.green {
    border-top: 2px solid #21BA45;
    margin: 25px auto !important;
    display: block !important;
  }
}

.center-text {
  text-align: center;
}

.center {
  text-align: center !important;
  margin: 20px auto !important;
  display: block !important;
}

.margin-field {
  margin: 30px 0 1em !important;
}

.full-width {
  width: 100% !important;
  border-bottom: 4px solid !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin-top: 3em !important;
  .header,
  .meta {
    text-align: center;
  }
}

.no-border {
  border: none !important;
}

.no-margin {
  margin: 0 !important;
}

.big-header {
  font-weight: 400 !important;
  font-size: 2.0571429em !important;
}

.container {
  margin-top: 60px;
}

//Special formatting for admin_landing cards
#dashboard, #listview {

  .card {
    min-width: 25%;

  }

  .ui.horizontal.segments {
    margin: 0rem 0;
    border-radius: 0.2em 0.2em 0em 0em;
  }

  .ui.horizontal.segments > .segment {
    border-left: 0px solid rgba(34, 36, 38, .15);
  }
  .ui.cards > .card > .content {
    padding: 0em;
  }

  .paddingcols {
    padding: 1em 1em 1em 1em;
  }

  .ui.attached.buttons {
    margin-left: 1px;
    margin-right: 1px;
    box-shadow: 0 0 0 1px $silver !important;
  }

  .ui.segments {

    border: 1px solid $silver !important;
  }
  .ui.statistics > .statistic:nth-of-type(2),
  .ui.statistics > .statistic:nth-of-type(3),
  .ui.statistics > .statistic:nth-of-type(4) {
    border-left: 1px solid $lightsteel;
    padding-left: 4%;
    padding-right: 1%;
  }
  .ui.statistics>.statistic{
    margin: 0 0.5em 1em;
  }
  div.ui.statistics.center{
    padding-top: 3em;

  }
  .ui.statistics .statistic > .value ~ .label {
    color: $soft-blue;
  }
  .ui.statistics .statistic > .value {
    font-size: 3vw;
    color: $steel;
  }
  .ui.statistics {
    display: flex !important;
  }
}

// # buttons match
.matchbtn {
  background: $soft-green !important;
  color: $white !important;
}

.matchbtn:hover {
  background: darken($soft-green, 6) !important;
  color: $white !important;
}

.matchbtn:focus {
  background: darken($soft-green, 6) !important;
  color: $white !important;
}

.circle-base {
  border-radius: 50%;
  behavior: url(PIE.htc);
}

.circle-front {
  width: 23px;
  height: 23px;
  background-color: $pine;
  opacity: 0.19;
  border: 0px solid $black-60;
  line-height: 23px;
  text-align: center;
  //TODO: Must fix float/margins for circle
  float: right;

}

//Match view
#matchview {

  .ui.fluid.input {
    padding-top: 0.5em !important;
  }
  .ui.card {
    width: 40em;
  }
  .ui.feed {
    margin: 0;
  }
  .age {
    width: 48%;
    float: left;
  } 
  .work {
    width: 48%;
    float: right;
  }

  input[disabled] {
    color: black;
    opacity: 1;
  }

  .interest {
    float: left;
    margin-right: 1%;
    text-transform: capitalize;
    color: white;
  }

  .interest > input {
    text-align: center;
    background-color: $soft-green !important;
    color: $white;
  }

}

//Interest's view style
.interest {
  background-color: $soft-green !important;
}

//detail veiw specific
#view {

  .ui.form {
    position: relative;
    max-width: 564px;
  }


  .btn-max-width {
    max-width: 590px!important;
  }
  .ui.horizontal.segments {
    margin: 0rem 0;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
  }

  .ui.form textarea:not([rows]) {
    max-width: 560px;}
  div.col-xs-12.col-sm-12.col-md-12{
    padding-right:0px!important;
  }


}

.float-left {
    float:left;
}
.float-right {
  float:right;;
}

.margin-right {
  margin-right: 10px !important;
}
//Statistics
.chart-range {
  background: $lightsteel;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 20em;
}
  //statistic numbers


@media (max-width: 414px){
  .ui > .statistics > .statistic{
    margin-left: 2px!important;
    margin-right: 2px!important;
  }
}


@media (max-width: 414px){
  h2:first-child, .reportrange, .chart-range, #c{
    text-align: center;
  }
}

@media (max-width: 414px){
  h2:first-child{
   margin-bottom: 10px;
  }
}


//date picker
.dropdown-menu{
  display:none;
  border: 1px solid $lightsteel;
  box-shadow: 10px $lightsteel;
}
.ranges>ul>li:hover {
  background: $lightsteel;
  color: $white;
  border:0;
}
.ranges>ul>li:active{
  background: $lightsteel;
  color: $black-60!important;
  border:0;
}
.ranges li.active{
  background: $soft-green;
  color: $black-60!important;
  border:0;
}
.ranges>ul>li{
  color: $black-60!important;
  border:0;
}
@media (min-width: 564px) {
  .daterangepicker {
    width: 20em;
  }
}
@media (min-width: 730px){
  .daterangepicker .ranges {
    width: 100%;
  }
}

@media (min-width: 564px){
  .daterangepicker .ranges ul {
    width: 95%;
  }
}
.ranges{
  padding-right: 6px;
}
      //buttons
.applyBtn{
  width:49%;
  background: $lightsteel;
  color: $black-60!important;
  border:0;
  border-radius: 2px 2px 2px 2px;
}
.cancelBtn{
  width:49%;
  background: $lightsteel;
  color: $black-60!important;
  border:0;
  border-radius: 2px 2px 2px 2px;
}

.applyBtn:active, .cancelBtn:active .applyBtn:hover, .cancelBtn:hover{
  background: $black-60;
  color: $white!important;
  border:0;


}


//center text & min width on detailed view
.ui.labeled.input:not([class*="corner labeled"]) .label:first-child {
  min-width: 6em;
  text-align: center;
}