html {
  body {
    .logo {
      width: 200px;
      margin-bottom: 20px;
    }
    .language_bar_chooser {
      background-color: #d0d0d0;
      border-radius: 100px;
      padding: 3px 8px 3px 15px;
      display: inline-block;
    }

    .field {
      label {
        font-size: 1.1em !important;
      }
    }

    table.rate {
      thead,
      tr,
      td {
        text-align: center;
      }
      td,
      th {
        padding: 0px 5px 18px;
      }
      td.number {
        max-width: 70px;
      }
      td.title {
        font-weight: bold;
      }
      td.interest {
        padding: 2px;
      }
    }
  }
}

.immigration {
  .preferences {
    padding: 0 20px;
    text-align: center;
    .field .table {
      max-width: 900px;
      margin: 0 auto;
    }
  }
  .button.huge {
    margin-bottom: 30px;
  }
  .ui.green {
    border-top: 2px solid #21BA45;
    margin: 25px auto !important;
    display: block !important;
  }
}

.center-text {
  text-align: center;
}

.center {
  text-align: center !important;
  margin: 20px auto !important;
  display: block !important;
}

.margin-field {
  margin: 30px 0 1em !important;
}

.full-width {
  width: 100% !important;
  border-bottom: 4px solid !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  .header,
  .meta {
    text-align: center;
  }
}

.no-border {
  border: none !important;
}

.no-margin {
  margin: 0 !important;
}

.big-header {
  font-weight: 400 !important;
  font-size: 2.0571429em !important;
}

.container {
  margin-top: 60px;
}

//Special formatting for admin_landing cards
#dashboard{

  .card{
    min-width: 25%;

  }

  .ui.horizontal.segments  {
    margin: 0rem 0;
    border-radius: 0.2em 0.2em 0em 0em;
  }

  .ui.horizontal.segments>.segment{
    border-left: 0px solid rgba(34,36,38,.15);
  }
  .ui.cards>.card>.content {
    padding: 0em;
  }

  .matchbtn{
    background: $soft-green!important;
    color: $white!important;
  }

  .paddingcols{
    padding: 1em 1em 1em 1em;
  }

  .ui.attached.buttons{
    margin-left: 1px;
    margin-right: 1px;
    box-shadow: 0 0 0 1px $silver!important;
  }

  .ui.segments{

    border: 1px solid $silver!important;
  }
  .ui.statistics>.statistic:nth-of-type(2),
  .ui.statistics>.statistic:nth-of-type(3),
  .ui.statistics>.statistic:nth-of-type(4){
    border-left: 1px solid $lightsteel;
    padding-left: 4em;
    padding-right: 1em;
  }


  .ui.statistics .statistic>.value~.label{
    color:$soft-blue;
  }
  .ui.statistics .statistic>.value {
    font-size: 3rem;
    color:$steel;
  }






}
