/* Color palette */

$soft-green: #75c980;
$pine: #2e5033;
$silver: #d4d4d5;
$soft-blue: #5e90f2;
$soft-blue-two: #749ee8;
$pig-pink: #e87476;
$black-60: rgba(0, 0, 0, 0.6);
$hospital-green-7: rgba(147, 236, 159, 0.1);
$greyish-brown: #555555;
$warm-grey: #9a9a9a;
$white: #ffffff;
$steel: #838a98;
$lightsteel: #dedede;


/* Text styles */

.breadcr {
  font-family: FuturaPT-Book, Arial, Helvetica, "Courier New";
  font-size: 14px;
  color: #838a98;
}

.cta-button {
  font-family: FuturaPT-Book, Arial, Helvetica, "Courier New";
  font-size: 14px;
  color: $greyish-brown;
}

.lg-detailed {
  font-family: FuturaPT-Book, Arial, Helvetica, "Courier New";
  font-size: 14px;
  color: $warm-grey;
}

.profile-text {
  font-family: FuturaPT-Book, Arial, Helvetica, "Courier New";
  font-size: 14px;
  color: #838a98;
}

.h1 {
  font-family: FuturaPT-Heavy, Arial, Helvetica, "Courier New";
  font-size: 12px;
  color: $greyish-brown;
}

.name {
  font-family: Futura-Medium, Arial, Helvetica, "Courier New";
  font-size: 12px;
  color: $greyish-brown;
}

.label-statistics {
  font-family: FuturaPT-Book, Arial, Helvetica, "Courier New";
  font-size: 10px;
  color: $soft-blue;
}

.breadcr {
  font-family: FuturaPT-Book, Arial, Helvetica, "Courier New";
  font-size: 10px;
  color: #7d7d7d;
}

.profile-label {
  font-family: FuturaPT-Book, Arial, Helvetica, "Courier New";
  font-size: 9.9px;
  color: #ffffff;
}